{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true,
        "amd":true
    },
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": "warn",
        "no-unused-vars": "warn",
        "no-undef": "error",
        "arrow-body-style": "off",
        "prefer-const": "warn",
        "no-var": "off",
        "vars-on-top": "off",
        "eol-last": "off"
    },
    "plugins": ["html"]
}