
/*
// =============================================
// Base Styles
// =============================================
*/

.devbar,
.devbar * {
    font-family: Tahoma;
    box-sizing: border-box;
}

.devbar__list ul,
.devbar__panel-title {
    list-style: none;
    margin: 0;
    padding: 0;
}

.devbar a {
    text-decoration: none;
    color: #ff731b;
}
.devbar__panel a:hover {
    text-decoration: underline;
}

.devbar * {
    font-size: 1em;
}

/*
// =============================================
// Nested Lists
// =============================================
*/

.devbar__list ul ul {
    border-left: 1px solid gainsboro;
    padding-left: 1em;
}
.devbar__list .level_10 {
    border-left-color: red;
}
.devbar__list .level_20 {
    border-left-color: blue;
}
.devbar__list .level_30 {
    border-left-color: green;
}
.devbar__list .level_40 {
    border-left-color: orange;
}
.devbar__list .level_50 {
    border-left-color: purple;
}
.devbar__list .level_60 {
    border-left-color: lime;
}
.devbar__list .level_70 {
    border-left-color: pink;
}
.devbar__list .level_80 {
    border-left-color: tomato;
}
.devbar__list .level_90 {
    border-left-color: saddlebrown;
}
.devbar__list .level_100 {
    border-left-color: lightgreen;
}
.devbar__list .level_110 {
    border-left-color: salmon;
}


/*
// =============================================
// Toolbar
// =============================================
*/

.devbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.devbar__bg {
    background: #eaeaea;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%
}

.devbar__item {
    display: inline-block;
}

.devbar__button {
    z-index: 120;
    position: relative;
}

.devbar__button-link, 
.devbar__button a:visited{
    color: white;
}

.devbar__button-link {
    display: block;
    text-decoration: none;
    padding: 0.3em 0.6em;
}

.devbar__button-link.is-active,
.devbar__button a.is-active:visited {
    color: #f4e829;
}

.devbar__panel {
    transform: translateY(0);
    transition: transform 0.25s;
    max-width: 90vw;
    background: #09162b;
    position: absolute;
    z-index: 0;
    top: 0;
    border-bottom: 0;
    color: #99b8d6;
    /*color: #f9f9f9;*/
    font-size: 11px;
}

.devbar__item--active .devbar__panel {
    transform: translateY(-100%);
}

.devbar__panel-head {
    display: none;
}

.devbar__panel-body {
    max-height: 300px;
    overflow-y: scroll;
    padding: 1em 1em 1em 0;
}

.devbar__overlay {
    position: absolute;
    background-color: #7d29d2;
    z-index: 900;
    opacity: 0.5;
    transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
}

.devbar__toggle::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 4px solid #99b8d6;
    border-right: none;

    margin-right: 0.3em;
    margin-left: -2px;
}

.devbar__toggle.is-active::before {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-top: 4px solid #99b8d6;
    border-bottom: none;
}


.devbar__highlight-toggle {
    float: right;
    font-size: 80%;
    display: none;
}

.devbar__highlight-toggle.enabled {
    display: block;
}

.devbar__highlight-toggle.is-active{
    color: #000000;
}

/*
// =============================================
// Colour Code Buttons
// =============================================
*/

/* Blocks */
.devbar-panel-block .devbar__button-link {
    background-color: #BC1A30;
}
/* Handles */
.devbar-panel-handles .devbar__button-link {
    background-color: #2D6B9F;
}
/* JS */
.devbar-panel-js .devbar__button-link {
    background-color: #F7D74D;
}

.devbar__list {
    overflow: hidden;
    height: 0;
}

.devbar__list.level_0{
    height: auto;
}

.devbar__list.open{
    height: auto !important;
}

.devbar__ul {
    position: relative;
    padding-left: 1em !important;
}
