
/*
// =============================================
// Base Styles
// =============================================
*/

.developertoolbar,
.developertoolbar * {
    font-family: Tahoma;
}
.developertoolbar {
    color: #333;
}

.developertoolbar__list ul,
.developertoolbar__panel-title {
    list-style: none;
    margin: 0;
    padding: 0;
}

.developertoolbar a {
    color: steelblue;
}

@media (max-width: 26em) {
    .developertoolbar * {
        font-size: 0.75rem !important;
    }
}

/*
// =============================================
// Nested Lists
// =============================================
*/

.developertoolbar__list ul ul {
    border-left: 2px dashed gainsboro;
    padding-left: 1em;
}
.developertoolbar__list .level_10 {
    border-left-color: red;
}
.developertoolbar__list .level_20 {
    border-left-color: blue;
}
.developertoolbar__list .level_30 {
    border-left-color: green;
}
.developertoolbar__list .level_40 {
    border-left-color: orange;
}
.developertoolbar__list .level_50 {
    border-left-color: purple;
}
.developertoolbar__list .level_60 {
    border-left-color: lime;
}
.developertoolbar__list .level_70 {
    border-left-color: pink;
}
.developertoolbar__list .level_80 {
    border-left-color: tomato;
}
.developertoolbar__list .level_90 {
    border-left-color: saddlebrown;
}
.developertoolbar__list .level_100 {
    border-left-color: lightgreen;
}
.developertoolbar__list .level_110 {
    border-left-color: salmon;
}


/*
// =============================================
// Toolbar
// =============================================
*/

.developertoolbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.developertoolbar__bg {
    border-top: 2px solid gainsboro;
    background: #eaeaea;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%
}

.developertoolbar__item {
    display: inline-block;
}

.developertoolbar__button{
    z-index: 120;
    position: relative;
}

.developertoolbar__button-link, 
.developertoolbar__button a:visited{
    color: white;
}

.developertoolbar__button-link {
    display: block;
    text-decoration: none;
    padding: 0.3em 0.6em;
}

.developertoolbar__button-link.is-active,
.developertoolbar__button a.is-active:visited {
    color: #f4e829;
}

.developertoolbar__panel {
    transform: translateY(0);
    transition: transform 0.25s;
    max-width: 90vw;
    background: white;
    position: absolute;
    z-index: 0;
    top: 0;
    border: 2px solid gainsboro;
    border-bottom: 0;
}

.developertoolbar__item--active .developertoolbar__panel {
    transform: translateY(-100%);
}

.developertoolbar__panel-title {
    font-size: 1em;
    padding: 0.6em 1em;
    background-color: #eaeaea;
    border-bottom: 2px solid gainsboro;
}

.developertoolbar__panel-body {
    max-height: 300px;
    overflow-y: scroll;
    padding: 1em 1em 1em 0;
}

.developertoolbar__overlay {
    position: absolute;
    background-color: #7d29d2;
    z-index: 900;
    opacity: 0.5;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.developertoolbar__toggle::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: none;
    border-top: 4px solid #333;
    margin-right: 0.3em;
}

.developertoolbar__toggle.is-active::before {
    border-bottom: 4px solid #333;
    border-top: none;
}


.developertoolbar__highlight-toggle {
    float: right;
    font-size: 80%;
}

/*
// =============================================
// Colour Code
// =============================================
*/

/* Blocks */
.developertoolbar-panel-block .developertoolbar__button-link {
    background-color: #BC1A30;
}
/* Handles */
.developertoolbar-panel-handles .developertoolbar__button-link {
    background-color: #2D6B9F;
}
/* JS */
.developertoolbar-panel-js .developertoolbar__button-link {
    background-color: #F7D74D;
}

.developertoolbar__ul {
    overflow: hidden;
    position: relative;
    height: 0;
    padding-left: 1em !important;
}

.developertoolbar__ul.is-active, 
.developertoolbar__ul.level_0 {
    height: auto;
}
