<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="\Llapgoch\Developertoolbar\Block\Panel\Listing\Item" shared="false" />
    <type name="\Llapgoch\Developertoolbar\Block\Panel\Listing\Container" shared="false" />
    
    <type name="Magento\Framework\View\Element\AbstractBlock">
        <plugin name="llapgoch_developertoolbar_block_creation_marker" type="Llapgoch\Developertoolbar\Block\View\AbstractBlock\Plugin" sortOrder="10" disabled="false" />
    </type>

    <!-- This should be preferenced using the LayoutInterface class, but this breaks adding handles. -->
    <preference for="Magento\Framework\View\Layout" type="Llapgoch\Developertoolbar\Model\View\Layout" />
    
</config>