
/*
// =============================================
// Base Styles
// =============================================
*/

body {
    margin: 0;
}

.devbar,
.devbar * {
    font-family: Tahoma;
    box-sizing: border-box;
}

.devbar__list ul,
.devbar__list-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.devbar a {
    text-decoration: none;
}

.devbar__panel a:hover {
    text-decoration: underline;
}

.devbar * {
    font-size: 1em;
}


/*
// =============================================
// Colors
// =============================================
*/

/* Blocks */
/*.devbar-panel-block .devbar__button-link {
    background-color: #BC1A30;
}
.devbar-panel-handles .devbar__button-link {
    background-color: #2D6B9F;
}
.devbar-panel-js .devbar__button-link {
    background-color: #F7D74D;
}*/

.devbar__panel a,
.devbar__panel a:visited,
.devbar__item-name,
a.devbar__highlight-toggle {
    color: #ff731b;
}

.devbar__button-link, 
.devbar__button a:visited{
    color: white;
}

.devbar__button-link.is-active,
.devbar__button a.is-active:visited {
    color: #f4e829;
}

.devbar__panel {
    color: #99b8d6;
}

.devbar__bg {
    background: #ff731b;
}

.devbar__panel,
.devbar__info {
    background: #09162b;
}

.devbar__overlay {
    background-color: #7d29d2;
}

/*
// =============================================
// Colors - List Trail
// =============================================
*/

ul .devbar__ul {
    background-color: gainsboro;
    padding-left: 10px;
}
@media(max-width: 32em) {
    ul .devbar__ul {
        padding-left: 5px;
    }
}
.devbar__list .level_10 {
    background-color: #031F73;
}
.devbar__list .level_20 {
    background-color: #073673;
}
.devbar__list .level_30 {
    background-color: #0A4273;
}
.devbar__list .level_40 {
    background-color: #0D4C73;
}
.devbar__list .level_50 {
    background-color: #145873;
}
.devbar__list .level_60 {
    background-color: #5087A0;
}
.devbar__list .level_70 {
    background-color: #6087A0;
}
.devbar__list .level_80 {
    background-color: #7087A1;
}
.devbar__list .level_90 {
    background-color: #737C94;
}
.devbar__list .level_100 {
    background-color: #7E788F;
}
.devbar__list .level_110 {
    background-color: #827287;
}


/*
// =============================================
// Toolbar
// =============================================
*/

.devbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.devbar__bg {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%
}

.devbar__item {
    display: inline-block;
}

.devbar__button {
    z-index: 120;
    position: relative;
}

.devbar__button-link {
    display: block;
    text-decoration: none;
    padding: 0.3em 0.6em;
}

.devbar__panel {
    max-height: 90vh;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0;
    font-size: 11px;
    opacity: 0.95;
}
@media(min-width: 64em) {
    .devbar__panel {
        max-width: 65%;
    }
}

.devbar__item--active .devbar__panel {
    transform: translateY(-100%);
}

/*
// =============================================
// Toolbar Panel Header
// =============================================
*/

.devbar__panel-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}
.devbar__panel-title {
    margin: 0;
}
.devbar__title-actions {
    margin-left: auto;
}

.devbar__panel-body {
    overflow-y: scroll;
    max-height: 395px;
}

.devbar__overlay {
    position: absolute;
    z-index: 900;
    opacity: 0.5;
    transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
    -webkit-transition: width 500ms ease-in-out, height 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
}

.devbar__toggle::before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 4px solid #99b8d6;
    border-right: none;
    margin-right: 6px;
    margin-left: -2px;
    margin-top: -3px;
}

.devbar__toggle.is-active::before {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-top: 4px solid #99b8d6;
    border-bottom: none;
}

.devbar__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2px 6px;
    border-top: 1px solid #1A3156;
}

.devbar__info.is-active {
    background: black;
}

.devbar__highlight-toggle {
    margin-left: auto;
    display: none;
}

.devbar__highlight-toggle.is-enabled {
    display: block;
}

a.devbar__highlight-toggle.is-active{
    color: #00aa00;
}

a.devbar__highlight-toggle.is-error {
    color: #cc0000;
}

.devbar__list {
    overflow: hidden;
    height: 0;
}

.devbar__list.level_0 {
    height: auto;
}

.devbar__list.is-active {

}

.devbar__ul {
    position: relative;
}



